<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8670ca6c-b8a3-4502-9807-2228e2a5d053" name="test" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="8670ca6c-b8a3-4502-9807-2228e2a5d053fileName">test</con:setting></con:settings><con:definitionCache type="TEXT" rootPart="test.json"><con:part><con:url>test.json</con:url><con:content>{"openapi":"3.0.1","info":{"title":"test","description":"","version":"1.0.0"},"servers":[],"paths":{}}</con:content><con:type>https://swagger.io/openapiv3/specification</con:type></con:part></con:definitionCache><con:endpoints/></con:interface>